DEBUG=True
ADMIN_NAME=""
ADMIN_EMAIL=""
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USERNAME=""
EMAIL_PASSWORD=""
DEFAULT_FROM_EMAIL=""
SERVER_EMAIL=""
ENVIRONMENT="LOCAL"
SECRET_KEY=2HY>fXi!dQ&29Vf.XghCa;L6G=Ul4r-Bwqh>ae0RG3vIh1ZJ%T
SUBSERVICE_HOST=localhost
KEYSERVER_HOST=localhost
FENNEL_RPC=localhost
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_NAME=database
ENVIRONMENT=LOCAL
FENNEL_CLI_IP=localhost
FENNEL_API_IP=localhost
FENNEL_KEYSERVER_IP=localhost
FENNEL_SUBSERVICE_IP=localhost
FENNEL_PROTOCOL_BOOT_IP=localhost
FENNEL_PROTOCOL_VALIDATOR_IP=localhost
FENNEL_PROTOCOL_COLLATOR_1_IP=localhost
FENNEL_PROTOCOL_COLLATOR_2_IP=localhost