{% autoescape off %}
To begin the password reset process for your {{ user.get_username }} Fennel Labs account,
click the link below:

{% if domain == "api.fennellabs.com" %}
https://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% else %}
http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endif %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
Fennel Labs
{% endautoescape %}