{% extends "admin/base.html" %}
{% load member_tags %}
{% block content %}
  <h1>Members</h1>
  <table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Address</th>
            <th>Balance</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr>
            <td>{{ member.user.username }}</td>
            <td>{{ member.address }}</td>
            <td>{{ member|get_balance }}</td>
            <td>
                {% if account_created %}
                {% if member|has_wallet %}
                <a href="{% url 'dashboard:transfer_tokens_to_member' group_id member.id %}">Send Tokens</a>
                {% else %}
                <a href="{% url 'dashboard:create_wallet_for_member' group_id member.id %}">Create Wallet for Member</a>
                {% endif %}
                {% else %}
                <a href="{% url 'dashboard:create_wallet' group_id %}">Create a Wallet</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'dashboard:remove_group_member' group_id member.id %}">Remove</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}