{% extends "dashboard/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<form
  action="{% url 'dashboard:confirm_transfer_tokens_to_address' group_id %}"
  id="confirm_transfer_token_form"
  method="post"
  name="confirm_tranfer_token_form"
>
  {% csrf_token %}
  <div>
    Are you sure you want to send {{ amount }} tokens to {{ address }} with a fee of {{ fee }} ?
  </div>
  <input type="hidden" name="group_id" value="{{ group_id }}" />
  <input type="hidden" name="address" value="{{ address }}" />
  <input type="hidden" name="amount" value="{{ amount }}" />
  <button class="btn btn-primary" type="submit">Send</button>
  <a class="btn btn-primary" href="{% url 'dashboard:api_group_members' group_id %}">Cancel</a>
</form>
{% endblock %}
