{% extends "dashboard/base.html" %}
{% load member_tags %}
{% block content %}
  <h1>Members</h1>
  <table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Address</th>
            <th>Balance</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for mem in members %}
            <tr>
            <td>{{ mem.username }}</td>
            <td>{{ mem|get_address }}</td>
            <td><a href="{% url 'dashboard:get_balance_for_member' group_id mem.id %}">{{ mem|get_balance }}</a> FNL</td>
            <td>
                {% if account_created %}
                {% if mem|has_wallet %}
                <a href="{% url 'dashboard:transfer_tokens_to_member' group_id mem.id %}">Send Tokens</a>
                {% else %}
                <a href="{% url 'dashboard:create_wallet_for_member' group_id mem.id %}">Create Wallet for Member</a>
                {% endif %}
                {% else %}
                <a href="{% url 'dashboard:create_wallet' group_id %}">Create a Wallet</a>
                |
                <a href="{% url 'dashboard:import_wallet' group_id %}">Import Wallet</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'dashboard:remove_group_member' group_id mem.id %}">Remove</a>
            </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}